@import "./navbar.scss";
@import "./carousel.scss";
@import "./about.scss";
@import "./grid-pics.scss";
@import "./grid-wed-imgs.scss";
@import "./contact.scss";
@import "./videos.scss";
@import"./footer.scss";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}